<div class="container">
  <legend>Hashtag</legend><br>
  <nav class="navbar navbar-light bg-light">
    <div class="form-inline">
      <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="'/hashtag'">
        voltar
      </button>
    </div>
  </nav>

  <div class="container">
    <table class="table table-hover" *ngIf="hashtags$ | async as has; else loading">
      <thead>
        <tr>
          <th>id</th>
          <th>Hashtag</th>
          <th>Categoria</th>
          <th>Total: {{ has.length }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let h of has">
          <td>{{ h.id }}</td>
          <td>{{ h.nome }}</td>
          <td>{{ h.categoria.nome }}</td>
            <span class="float-end">
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onDeletar(h)" >
                Remover
              </button>
            </span>

        </tr>
      </tbody>
    </table>
  </div>

</div>



<ng-template #loading>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
