<div class="container">
  <h1>Robo</h1><br>
  <nav class="navbar navbar-light bg-light">
    <div class="form-inline">
      <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="'/home'">
        Home
      </button>
      <button style="margin-left: 15px;" class="btn btn-outline-success my-2 my-sm-0" (click)="onListar()">
        Listar todos
      </button>
    </div>

    <div class="row md-5" *ngIf="status$ | async as status; else loading">
      <div class="col-sm-8">
        <select style="margin: 5px" id="status" class="form-control" [(ngModel)]="inputStatus" [compareWith]="compararSelect">
          <option *ngFor="let s of status" [ngValue]="s">{{ s.status }}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <button  class="btn btn-outline-success my-2 my-sm-0" (click)="onFiltrar()">
          Filtrar
        </button>
      </div>

    </div>





  </nav>
</div>

<div class="container" style="padding-top: 10px; width: 60%">
  <form [formGroup]="formulario" *ngIf="perfil$ | async as perfil; else loading">

    <h2 style="padding-bottom: 30px;">Verificar perfil</h2>

    <div class="row md-5">

      <label for="perfil" class="col-sm-1 col-form-label">Perfil:</label>
      <div class="col-sm-5">
        <select style="margin: 5px" id="perfil" class="form-control" formControlName="perfil"
          [ngClass]="{ 'is-invalid': submitted && hasError('perfil')}">
          <option *ngFor="let p of perfil" [ngValue]="p.username">{{ p.username }}</option>
        </select>
        <div class="invalid-feedback">
          Seleciona um perfil
        </div>
      </div>


      <div class="col-sm-2">
        <button style=" margin-top: 5px" class="btn btn-primary" (click)="onVerificar()">Verificar </button>
      </div>
    </div>

    <h2 style="padding-bottom: 30px;" style="margin-top: 50px;">Posta Imagem</h2>

    <div class="row md-5">

      <label for="perfil" class="col-sm-1 col-form-label">Perfil:</label>
      <div class="col-sm-5">
        <select style="margin: 5px" id="perfil" class="form-control" formControlName="perfil"
          [ngClass]="{ 'is-invalid': submitted && hasError('perfil')}">
          <option *ngFor="let p of perfil" [ngValue]="p.username">{{ p.username }}</option>
        </select>
        <div class="invalid-feedback">
          Seleciona um perfil
        </div>
      </div>

      <label for="categoria" class="col-sm-2 col-form-label">Categoria:</label>
      <div class="col-sm-2">
        <select style="margin: 5px" id="categoria" class="form-control" formControlName="categoria"
          [ngClass]="{ 'is-invalid': submitted && hasError('categoria')}">
          <option value="anime">Anime</option>
          <option value="natureza">Natureza</option>
        </select>
        <div class="invalid-feedback">
          Seleciona um categoria
        </div>
      </div>

      <div class="col-sm-2">
        <button style=" margin-top: 5px" class="btn btn-primary" (click)="onPostar()">Postar </button>
      </div>
    </div>



  </form>
</div>

<ng-template #loading>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
